@use "/src/styles/colors";

.entrepreneur-profile-c {
  min-height: 100vh;
}

.profile__banner-and-profile-photo-c {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.profile__banner-c {
  width: 100%;

  img {
    width: 100%;
    max-height: 13rem;
    object-fit: cover;
    min-height: 5rem;
    background-color: lightgrey;
  }
}

.profile__user-photo-c {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;

  img {
    border: 4px solid white;
    border-radius: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    top: -4.5rem;
    height: 9rem;
    width: 9rem;
    background-color: lightgrey;
  }
}

.profile__all-info-c {
  padding: 0 1.5rem;
}

.profile__username-c {
  text-align: center;
  margin-bottom: 1rem;
  color: colors.$text2;

  p {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  span {
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
  }
}

.profile__main-actions-btns-c {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;

  & a:first-of-type {
    margin-right: 1.5rem;
  }
}

.profile__company-c {
  color: colors.$text2;
  margin-bottom: 1.5rem;

  p {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    color: colors.$yellow;
  }
}

.profile-subtitle {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.profile-desc {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.profile__about-me-c {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.profile__extra-info_title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.profile__sub-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    width: 55%;
    max-width: 40rem;
    margin-right: 2rem;
  }
  @media (min-width: 992px) {
    margin-right: 4rem;
  }
}

.profile__extra-info-c {
  border: 1px solid colors.$lightBlue;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  height: 100%;
  max-width: 23rem;
  margin-bottom: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

  @media (min-width: 768px) {
    width: 35%;
  }

  & > div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.divisor-line {
  width: 100%;
}

.profile__more-info-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
