@use "./_variables.scss" as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  // font-family: 'Rubik', sans-serif;
}
// Change Background Color while Highlighting a Text
*::selection {
  background-color: variables.$blue;
}

// to enable smooth scrolling for the whole page
html {
  scroll-behavior: smooth;
}

// to remove the blue highlight on mobile
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@500&display=swap");
