@use "/src/styles/colors";

.search-bar-main-c {
  display: flex;
}

.search-bar-dialog-c {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s opacity ease-out;
}

.search-bar-dialog__content {
  background-color: white;
  padding: 1.2rem 1.2rem 1.6rem 1.2rem;
  border-radius: 10px;
}

.search-bar__top-content-c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
}

.search-bar-c {
  display: flex;
  align-items: center;
  border: 2px solid colors.$lightBlue;
  border-radius: 10px;
  padding: 0.5rem;

  svg {
    margin-right: 0.75rem;
    display: flex;
  }

  input {
    outline: none;
    font-size: 1rem;
    border: none;
  }
}

.search-bar-dialog--visible {
  visibility: visible;
  opacity: 1;
}

// Burger menu
.navbar__burger-menu {
  display: flex;
  z-index: 99;
  align-items: flex-end;
  height: 1.75rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;

  @media (min-width: 992px) {
    display: none;
  }

  .burger-menu__lines {
    height: 3.06px;
    background: colors.$text;
    // transition: all 0.2s ease-in;
    transition: all 200ms ease-in;
  }

  .burger-menu__line1 {
    width: 11.21px;
    border-radius: 25px 0 0 0;
    // this was the first way I found to replicate the design I wanted
    // transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .burger-menu__line1--x {
    // this was the first way I found to replicate the design I wanted
    // transform: matrix(-0.71, 0.71, 0.71, 0.71, -2, 3);
    transform: rotate(135deg) translate(3px, -1px);
  }

  .burger-menu__line2 {
    width: 30.57px;
    // If I use this line below it seems like this burger line is higher than the other even though the hight is the same
    // border-radius: 25px 0 0 0;
    border-radius: 0 0 0 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .burger-menu__line2--x {
    transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
    // transform: rotate(45deg) translate(0, 0);
  }

  .burger-menu__line3 {
    width: 22.42px;
    border-radius: 25px 0 0 0;
    // transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .burger-menu__line3--x {
    // transform: matrix(0.71, -0.71, -0.71, -0.71, -13, -8);
    transform: rotate(-45deg) translate(-5px, -13px);
  }
}
// Burger Menu -- end

.navbar-menu {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;

  & > li {
    list-style: none;

    a {
      text-decoration: none;
      color: colors.$text2;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
