@use "/src/styles/colors";

.search-bar-main-c {
  display: flex;

  & > svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.search-bar-dialog-c {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem 1rem;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}

.search-bar-dialog__content {
  background-color: white;
  padding: 1.2rem 1.2rem 1.6rem 1.2rem;
  border-radius: 10px;
  height: 100%;
  overflow-y: hidden;
}

.search-bar__top-content-c {
  position: sticky;
  top: 0;
  background-color: white;
}

.search-bar__top-content__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: colors.$text2;
}

.search-bar-c {
  display: flex;
  align-items: center;
  border: 2px solid colors.$lightBlue;
  border-radius: 10px;
  padding: 0.5rem;

  svg {
    margin-right: 0.75rem;
    display: flex;
  }

  input {
    width: 100%;
    outline: none;
    font-size: 1rem;
    border: none;
  }
}

.search-bar-dialog--active {
  visibility: visible;
  opacity: 1;
}

.search-bar-dialog-results-c {
  overflow-y: scroll;
  height: 80%;
  padding: 0.8rem;
  margin-top: 1.2rem;
  border: 2px solid colors.$lightBlue;
  border-radius: 10px;

  & a > div:not(:first-of-type) {
    margin-top: 1rem;
  }
  & a > div:last-of-type {
    margin-bottom: 0.5rem;
  }

  > a {
    text-decoration: none;
  }
}

.search-bar-dialog__each-result-c {
  display: flex;
  align-items: center;
}

.search-bar-dialog-each-result__img-c {
  width: 4rem;
  height: 4rem;
  margin-right: 0.8rem;

  img {
    border: 4px solid white;
    border-radius: 100%;
    width: 100%;
    background-color: lightgrey;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.search-dialog-not-found-c {
  display: flex;
  justify-content: center;
}

.search-bar-dialog-each-result__text-c {
  & p:first-of-type {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
    color: colors.$text2;
  }

  & p:nth-child(2) {
    font-size: 1rem;
    color: colors.$yellow;
  }
}
