@use "/src/styles/colors";

.search-bar-main-c {
  display: flex;

  & > svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.search-bar-dialog-c {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}

.search-bar-dialog__content {
  background-color: white;
  padding: 1.2rem 1.2rem 1.6rem 1.2rem;
  border-radius: 10px;
}

.search-bar__top-content-c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: colors.$text2;
}

.search-bar-c {
  display: flex;
  align-items: center;
  border: 2px solid colors.$lightBlue;
  border-radius: 10px;
  padding: 0.5rem;

  svg {
    margin-right: 0.75rem;
    display: flex;
  }

  input {
    outline: none;
    font-size: 1rem;
    border: none;
  }
}

.search-bar-dialog--active {
  visibility: visible;
  opacity: 1;
}
