@use "/src/styles/colors";

.navbar-main-c {
  padding: 1rem;
}

.navbar-sub-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-c {
  width: 2.1rem;

  img {
    width: 100%;
  }
}

.search-bar-and-burger-menu-c {
  display: flex;
  align-items: center;

  & button:last-of-type {
    margin-left: 1rem;
  }
}
