@use "/src/styles/colors";

.btn {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

.btn-blue {
  color: colors.$blue;
}

.btn-black {
  color: colors.$text;
}

.primary-btn {
  border: 2px solid colors.$blue;
  border-radius: 50px;
  padding: 0.52rem 1.04rem;
}

.secondary-btn {
  display: flex;
  align-items: center;

  svg {
    margin-left: 0.25rem;
    height: 1.1rem;
    width: 1.1rem;
    fill: colors.$blue;
  }
}
